/.vscode
/abc.txt
/aisehipractice.py
/armstrong numbers.py
/calculator.py
/coin flip simulation.py
/dataanalytics.py
/dbdata.db
/dbhelper.py
/DSA.py
/Ecom
/english sentences.txt
/functionspractice.py
/myfile.json
/mysqldb.py
/oops.py
/practice.py
/practicee.py
/pythonProject48
/pythonProject48.zip
/seconpract.py
/wscube.png
/yolo.py
/yolofaces.cfg
/__pycache__